<!DOCTYPE html>
<html>
<head>
    <title>Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/css/styles.css"/>
    <script src="../static/assets/js/jquery-3.5.1.min.js"></script>
    <script src="../static/assets/js/uikit.min.js"></script>
    <script src="../static/assets/js/uikit-icons.min.js"></script>
    <script src="../static/assets/js/jquery.min.js"></script>
</head>
<body>
<div id="preloader">
    <div class="spinner">
        <div class="uil-ripple-css" style="transform:scale(0.29);">
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<!-- HEADER 1 -->
<div class="ev-header-1 uk-visible@m">

    <!-- TOP NAVBAR -->
    <div class="ev-topnav uk-section-primary uk-padding-small">
        <div class="ev-container">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">

                    <ul class="uk-iconnav">
                        <li>
                            <a href="" uk-icon="icon: facebook"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: twitter"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: youtube"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: linkedin"></a>
                        </li>
                    </ul>

                </div>

                <div class="uk-navbar-right">
                    <ul id="test" class="uk-subnav uk-subnav-divider">
                        <li class="locale" id="en" data-value="{{ url_for('set_locale', locale='en') }}"><a href="#">English</a></li>
                        <li class="locale" id="zh" data-value="{{ url_for('set_locale', locale='zh') }}"><a href="#">简体中文</a></li>
                        {{ _('%(test)s', test=test) }}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- END TOP NAVBAR -->

    <nav class="ev-nav uk-navbar-container uk-padding-small">
        <div class="ev-container" uk-navbar>

            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo uk-margin-medium-right" href="/index">
                    <img alt="Image" src="../static/assets/img/logo.png">
                </a>

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/index">{{ _("Home") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/listing/1nullnullnullnull">{{ _("Listings") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/new">{{ _("New for Sale") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/management/1">{{ _("My Houses") }}  <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="#">{{ _("Login") }}<span class="uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/login">{{ _("Login") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">{{ _("Pages") }}<span class="uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="contact.html">{{ _("Contact") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/profile">{{ _("User Profile") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="about.html">{{ _("About Us") }}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">
                <div class="uk-navbar-item">

                    <a class="uk-button uk-button-primary uk-button-large uk-text-truncate uk-border-pill"
                    ><i class="fas fa-phone-alt uk-margin-small-right"></i> {{ _("Make a Call") }}
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>


<!-- END HEADER 1 -->

<!-- MOBILE HEADER -->

<nav class="ev-mobile-nav uk-navbar-container uk-padding uk-hidden@m" uk-navbar>

    <div class="uk-navbar-left">
        <a class="uk-button uk-button-link ev-button" href="#sidemenu" uk-toggle>
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <div class="uk-navbar-center">

        <a class="uk-navbar-item uk-logo" href="#">
            <img alt="Image" src="../static/assets/img/logo.png">
        </a>

    </div>

    <div class="uk-navbar-right">
        <a class="uk-button uk-button-link ev-button" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>
</nav>

<!-- END MOBILE HEADER -->

<!-- PAGE TITLE -->

<div class="ev-page-title-2">
    <div class="ev-container">

        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-flex uk-flex-middle uk-flex-center uk-grid-small"
             uk-grid>
            <div class="uk-flex uk-flex-center uk-flex-left@s"><h5 class="title">{{ _("Management Your Properties") }}</h5></div>
            <div>
                <ul class="uk-breadcrumb uk-flex-center uk-flex-right@s">
                    <li><a href="/index">{{ _("Home") }}</a></li>
                    <li class="uk-disabled"><a>{{ _("Management Your Properties") }}</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- END PAGE TITLE -->

<!-- ADVANCED SEARCH -->

{#<div class="ev-section-light uk-margin-bottom ev-bottom-border uk-visible@m">#}
{##}
{#    <div class="ev-container ev-section-padding-v-m">#}
{##}
{#        <!-- BREADCRUMBS#}
{##}
{#        <div class="ev-breadcrumbs">#}
{#            <ul class="uk-breadcrumb">#}
{#                <li><a href="#">Home</a></li>#}
{#                <li class="uk-disabled"><a>Properties</a></li>#}
{#            </ul>#}
{#        </div>#}
{##}
{#        END BREADCRUMBS -->#}
{##}
{##}
{#        <form method="post" action="/listing/1{{ search_input }}{{ district_input }}{{ bedrooms_input }}{{ livingrooms_input }}{{ price_per_meter_input }}" class="uk-search uk-search-default uk-width-1-1">#}
{#            <span uk-search-icon></span>#}
{#            <input name="content" id="content" class="uk-search-input uk-border-rounded uk-width-1-3" type="text" placeholder="Search...">#}
{#            <button class="uk-button uk-border-rounded" type="submit"><i class="fas fa-search"></i></button>#}
{#        </form>#}
{#        <hr>#}
{##}
{##}
{#        <form class="uk-grid-small" uk-grid>#}
{#        <div class="uk-grid-small" uk-grid>#}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select id="district" name="district" class="nc-select wide uk-form-large">#}
{#                            <option data-display="Districts">Any</option>#}
{#                            <option>Haidian</option>#}
{#                            <option>海淀</option>#}
{#                            <option>朝阳</option>#}
{#                            <option>丰台</option>#}
{#                            <option>门头沟</option>#}
{#                            <option>石景山</option>#}
{#                            <option>房山</option>#}
{#                            <option>通州</option>#}
{#                            <option>顺义</option>#}
{#                            <option>昌平</option>#}
{#                            <option>大兴</option>#}
{#                            <option>怀柔</option>#}
{#                            <option>平谷</option>#}
{#                            <option>延庆</option>#}
{#                            <option>密云</option>#}
{#                            <option>西城</option>#}
{#                            <option>东城</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select id="building_type" name="building_type" class="nc-select wide uk-form-large">#}
{#                            <option data-display="Floor">Any</option>#}
{#                            <option>高楼层</option>#}
{#                            <option>中楼层</option>#}
{#                            <option>低楼层</option>#}
{#                            <option>顶层</option>#}
{#                            <option>底层</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select id="price_per_meter" name="price_per_meter" class="nc-select wide uk-form-large">#}
{#                            <option data-display="Area (sq.m.)">Any</option>#}
{#                            <option>10000</option>#}
{#                            <option>20000</option>#}
{#                            <option>30000</option>#}
{#                            <option>40000</option>#}
{#                            <option>50000</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select class="nc-select wide uk-form-large">#}
{#                            <option data-display="Decoration Styles">Any</option>#}
{#                            <option>Refined</option>#}
{#                            <option>Simple</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select id="bedrooms"  name="bedrooms" class="nc-select wide uk-form-large">#}
{#                            <option data-display="Bedrooms">Any</option>#}
{#                            <option>1</option>#}
{#                            <option>2</option>#}
{#                            <option>3</option>#}
{#                            <option>4</option>#}
{#                            <option>5</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select id="livingrooms"  name="livingrooms" class="nc-select wide uk-form-large">#}
{#                            <option data-display="Living Rooms">Any</option>#}
{#                            <option>1</option>#}
{#                            <option>2</option>#}
{#                            <option>3</option>#}
{#                            <option>4</option>#}
{#                            <option>5</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select class="nc-select wide uk-form-large">#}
{#                            <option data-display="Min Price">Any</option>#}
{#                            <option>￥50000</option>#}
{#                            <option>￥60000</option>#}
{#                            <option>￥70000</option>#}
{#                            <option>￥80000</option>#}
{#                            <option>￥90000</option>#}
{#                            <option>￥100000</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="uk-width-1-2 uk-width-1-2@s uk-width-1-4@m">#}
{#                <div class="uk-margin">#}
{#                    <div class="uk-width-1-1 uk-inline">#}
{#                        <select class="nc-select wide uk-form-large">#}
{#                            <option data-display="Max Price">￥50000</option>#}
{#                            <option>￥60000</option>#}
{#                            <option>￥70000</option>#}
{#                            <option>￥80000</option>#}
{#                            <option>￥90000</option>#}
{#                            <option>￥100000</option>#}
{#                            <option>￥150000</option>#}
{#                            <option>￥200000</option>#}
{#                            <option>Any</option>#}
{#                        </select>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <div class="uk-width-1-1@s">#}
{#                <div class="uk-margin">#}
{#                    <button class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-margin-small-top uk-width-1-1 uk-text-truncate"#}
{#                            type="submit">Search <i class="fas fa-angle-right uk-margin-small-left"></i></button>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{#        </form>#}
{#        </form>#}
{##}
{#    </div>#}
{##}
{#</div>#}

<!-- END ADVANCED SEARCH -->


<!-- PAGE CONTENT -->

<div class="ev-page-container">
    <div class="uk-grid-large" uk-grid>

        <div class="uk-width-1-1">

            <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-1-2 uk-width-expand@m">
                    <div class="ev-listing-title">
                        <h5 class="uk-text-truncate">{{ _("All Properties") }}</h5>
                        <p>{{ pagination.total }} {{ _("Results") }}</p>
                    </div>
                </div>
{#                <div class="uk-width-1-2 uk-width-1-3@m">#}
{#                    <select class="ev-order-by nc-select wide">#}
{#                        <option>Newset</option>#}
{#                        <option selected="">Price (Hi-Lo)</option>#}
{#                        <option>Price (Lo-Hi)</option>#}
{#                        <option>Lowest SqFt</option>#}
{#                        <option>Largest SqFt</option>#}
{#                    </select>#}
{#                </div>#}

            </div>
            
            <hr>
            
            
            <form method="post" action="/management/1" class="uk-search uk-search-default uk-width-1-1">
                <input name="content" id="content" class="uk-search-input uk-border-rounded uk-width-1-3" type="text" placeholder="Search...">
                <button class="uk-button uk-border-rounded" type="submit"><i class="fas fa-search"></i></button>
            </form>
            <br/>
            
            <br/>
            <br/>
            <br/>

            <div class="uk-grid-medium" uk-grid>
                {% for i in u %}
                    <div class="uk-width-1-1@s uk-width-1-3@m">
                        <div class="ev-card-1">
                            <div>
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a href="/message/{{ i.id }}">
                                        <div class="uk-inline">
                                            <img id="imgEle" alt="Image" class="uk-border-rounded"
                                                 style="width: 500px;height: 250px;object-fit: cover;" src="../static/uploaded_image/building/{{ i.photo_1 }}">
                                            <div class="uk-overlay uk-light uk-position-top">

                                                <!--                                         <span class="uk-label uk-label-primary">Featured</span>-->
                                            </div>
                                            <div class="uk-overlay overlay-gradient uk-position-bottom">
                                                <p class="ev-price">￥{{ i.price_per_meter }}
                                                    <small>/ {{ _("Per Sq.M.") }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="ev-body">
                                        <span class="ev-meta uk-text-small">{{ _("Refined Decoration") }}</span>
                                        <h3 class="ev-title uk-card-title uk-text-bolder uk-text-truncate uk-text-truncate">{{ i.address }}</h3>
                                        <p class="ev-location"><i
                                                class="fas fa-map-marker-alt uk-margin-small-right"></i> {{ i.district }}</p>
                                        <ul class="ev-info uk-subnav" uk-margin>
                                            <li><span>{{ i.num_of_bedrooms }} {{ _("Bedrooms") }} </span></li>
                                            <li><span>{{ i.num_of_living_rooms }} {{ _("Living Room") }}</span></li>
                                            <li><span>{{ i.size }} {{ _("Sq.M.") }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>



            {% import 'pages.html' as pg %}
            {{ pg.my_paginate(pagination,'management') }}


{#            <div class="ev-pagination uk-margin-large-top">#}
{#                <ul class="uk-pagination uk-flex-center" uk-margin id="test">#}
{#                    <li><a href="#"><span uk-pagination-previous></span></a></li>#}
{#                    <li class="uk-active"><a href="#">1</a></li>#}
{#                    <li class="uk-disabled"><span>...</span></li>#}
{#                    <li><a href="#">5</a></li>#}
{#                    <li><a href="#">6</a></li>#}
{#                    <li><a href="#">7</a></li>#}
{#                    <li><a href="#">8</a></li>#}
{#                    <li><a href="#">9</a></li>#}
{#                    <li class="uk-disabled"><span>...</span></li>#}
{#                    <li><a href="#">20</a></li>#}
{##}
{#                    {% if pagination.has_next %}#}
{#                    <li><a href="{{ url_for(url,page=pagination.page + 1) }}"><span uk-pagination-next></span></a></li>#}
{#                    {% else %}#}
{#                    <li><a href="#"><span uk-pagination-next></span></a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
        </div>
    </div>
</div>

<!-- END PAGE CONTENT -->


<!-- FOOTER -->

<div class="ev-footer">
    <div class="ev-container">
        <div class="ev-widgets uk-grid-large" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("About Us") }}</h4>
                <p class="ev-about">{{ _("Smart real estate startup company which open a new world of real estate in an online
                    way, strategy and technology coexist.") }}</p>
                <ul class="ev-follow uk-iconnav">
                    <li>
                        <a href="" uk-icon="icon: facebook"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: twitter"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: youtube"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("Quick Links") }}</h4>
                <ul class="uk-list">
                    <li><a href="/login">{{ _("Login") }}</a></li>
                    <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                    <li><a href="/listing/1nullnullnullnull">{{ _("Listings") }}</a></li>
                    <li><a href="/new">{{ _("New for Sale") }}</a></li>
                    <li><a href="/profile">{{ _("User Profile") }}</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("Contact Us") }}</h4>
                <ul class="uk-list">
                    <li><i class="ev-icon fas fa-envelope"></i> 1016771126@qq.com</li>
                    <li><i class="ev-icon fas fa-map-marker-alt"></i> Teaching Building 4, 604</li>
                    <li><i class="ev-icon fas fa-phone-alt"></i> +86 17743899416</li>
                </ul>
                <!--            </div>-->
                <!--            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">-->
                <!--                <h4 class="ev-title">Subscribe Now</h4>-->

                <!--                <form class="uk-light">-->
                <!--                    <input type="email" class="uk-input uk-width-1-1 uk-form-large uk-border-pill uk-margin-small-bottom" placeholder="Your Email">-->
                <!--                    <button class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-border-pill">Submit Now</button>-->
                <!--                </form>-->

                <!--            </div>-->
            </div>
        </div>


        <div class="ev-copyright">
            <div class="uk-container">
                <div uk-grid>
                    <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
                        Copyright &copy; 2020.Company name All rights reserved.
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@m uk-flex-center uk-flex-right@m uk-visible@s">
                        <ul class="uk-subnav uk-flex-center uk-flex-right@m">
                            <li><a href="/index">{{ _("Home") }}</a></li>
                            <li><a href="/listing/1nullnullnullnull">{{ _("Properties") }}</a></li>
                            <li><a href="/new">{{ _("New for Sale") }}</a></li>
                            <li><a href="/login">{{ _("Login") }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END FOOTER -->


<!-- SIDEMENU -->

<div class="ev-sidemenu" id="sidemenu" uk-offcanvas="overlay: true;">

    <div class="uk-offcanvas-bar uk-section-primary uk-flex uk-flex-column">

        <form class="uk-search uk-search-default uk-width-1-1">
            <span uk-search-icon></span>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search...">
        </form>

        <hr>
        <a href="#" class="ev-signin uk-button uk-border-rounded">
            <i class="fas fa-user uk-margin-small-right"></i>
            {{ _("Sign In") }}
        </a>
        <hr>

        <p class="uk-nav-header">{{ _("Main Menu") }}</p>

        <ul class="ev-main-menu uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav>
            <li>
                <a href="/index">{{ _("Home") }}</a>
            </li>
            <li>
                <a href="/listing/1nullnullnullnull">{{ _("Listings") }}</a>
            </li>
            <li>
                <a href="/new">{{ _("New for Sale") }} <span class="uk-margin-small-left"></span></a>
            </li>
            <li>
                <a href="/management/1">{{ _("My Houses") }}  <span class="uk-margin-small-left"></span></a>
            </li>

            <li class="uk-parent">
                <a href="#">{{ _("Login") }}</a>
                <ul class="uk-nav-sub">
                    <li><a href="/login">{{ _("Login") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li class="uk-parent">
                <a href="#">{{ _("Pages") }}</a>
                <ul class="uk-nav-sub">
                    <li><a href="contact.html">{{ _("Contact") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/profile">{{ _("User Profile") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="about.html">{{ _("About Us") }}</a></li>
                </ul>
            </li>
            </li>
        </ul>

	<p class="uk-nav-header">Language</p>

	<ul class="ev-main-menu uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav>
	    <li class="locale" id="en" data-value="{{ url_for('set_locale', locale='en') }}"><a href="#">English</a></li>
            <li class="locale" id="zh" data-value="{{ url_for('set_locale', locale='zh') }}"><a href="#">简体中文</a></li>
            {{ _('%(test)s', test=test) }}
	</ul>


        <p class="uk-nav-header">{{ _("Follow Us") }}</p>

        <ul class="ev-followus uk-iconnav uk-margin-small-bottom">
            <li>
                <a href="" uk-icon="icon: facebook"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: twitter"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: youtube"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: linkedin"></a>
            </li>
        </ul>
    </div>

</div>

<!-- END SIDEMENU -->
<script src="../static/assets/js/nice-select.min.js"></script>
<script src="../static/assets/js/moment.min.js"></script>
<script src="../static/assets/js/daterangepicker.js"></script>
<script src="../static/assets/js/fontawesome.min.js"></script>
<script src="../static/assets/js/main.js"></script>
<script>
    $(function () {
        $("#test li").click(function () {
            $(this).siblings('li').removeClass('uk-active');
            $(this).addClass('uk-active');
        });
    });


    {#var imgArr = ['fp1.jpg','fp2.jpg','fp3.jpg','fp4.jpg','fp5.jpg','fp6.jpg'];//图片路径数组#}
    {#var index = Math.floor((Math.random()*imgArr.length));//随机下标，保证随机的数字在数组中能取到#}
    {#var imgSrc = imgArr[index];//随机获取的图片路径#}
    {#var imgEle = document.getElementById('imgEle');//获取需要改变的img标签#}
    {#imgEle.setAttribute('src',imgSrc);//设置src属性#}


</script>

<script>
    $(document).on('click', '.locale', function () {
        var val = $(this).attr('data-value');
        $.ajax({
            url: val,
            type: 'GET',
            success: function (ret) {
                console.log(ret);
                location.reload();
            }
        })
    });
</script>

</body>
</html>