<!DOCTYPE html>
<html>
<head>
    <title>New House for Sale</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/css/styles.css"/>
    <script src="../static/assets/js/jquery-3.5.1.min.js"></script>
    <script src="../static/assets/js/uikit.min.js"></script>
    <script src="../static/assets/js/uikit-icons.min.js"></script>
    <script src="../static/assets/js/dropzone.js"></script>
    <script src="../static/assets/js/jquery.min.js"></script>
</head>
<body>
<div id="preloader">
    <div class="spinner">
        <div class="uil-ripple-css" style="transform:scale(0.29);">
            <div></div>
            <div></div>
        </div>
    </div>
</div>


<!-- HEADER 1 -->
<div class="ev-header-1 uk-visible@m">

    <!-- TOP NAVBAR -->
    <div class="ev-topnav uk-section-primary uk-padding-small">
        <div class="ev-container">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                <div class="uk-navbar-left">

                    <ul class="uk-iconnav">
                        <li>
                            <a href="" uk-icon="icon: facebook"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: twitter"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: youtube"></a>
                        </li>
                        <li>
                            <a href="" uk-icon="icon: linkedin"></a>
                        </li>
                    </ul>

                </div>

                <div class="uk-navbar-right">
                    <ul id="test" class="uk-subnav uk-subnav-divider">
                        <li class="locale" id="en" data-value="{{ url_for('set_locale', locale='en') }}"><a href="#">English</a></li>
                        <li class="locale" id="zh" data-value="{{ url_for('set_locale', locale='zh') }}"><a href="#">简体中文</a></li>
                        {{ _('%(test)s', test=test) }}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <!-- END TOP NAVBAR -->

    <nav class="ev-nav uk-navbar-container uk-padding-small">
        <div class="ev-container" uk-navbar>

            <div class="uk-navbar-left">

                <a class="uk-navbar-item uk-logo uk-margin-medium-right" href="/index">
                    <img alt="Image" src="../static/assets/img/logo.png">
                </a>

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/index">{{ _("Home") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/listing/1nullnullnullnull">{{ _("Listings") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/new">{{ _("New for Sale") }} <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="/management/1">{{ _("My Houses") }}  <span class="uk-margin-small-left"></span></a>
                    </li>
                    <li>
                        <a href="#">{{ _("Login") }}<span class="uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="/login">{{ _("Login") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">{{ _("Pages") }}<span class="uk-margin-small-left" uk-icon="icon: chevron-down"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="contact.html">{{ _("Contact") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="/profile">{{ _("User Profile") }}</a></li>
                                <li class="uk-nav-divider"></li>
                                <li><a href="about.html">{{ _("About Us") }}</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>

            <div class="uk-navbar-right">
                <div class="uk-navbar-item">

                    <a class="uk-button uk-button-primary uk-button-large uk-text-truncate uk-border-pill"><i class="fas fa-phone-alt uk-margin-small-right"></i>{{ _("Make a Call") }}
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>


<!-- END HEADER 1 -->

<!-- MOBILE HEADER -->

<nav class="ev-mobile-nav uk-navbar-container uk-padding uk-hidden@m" uk-navbar>

    <div class="uk-navbar-left">
        <a class="uk-button uk-button-link ev-button" href="#sidemenu" uk-toggle>
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <div class="uk-navbar-center">

        <a class="uk-navbar-item uk-logo" href="#">
            <img alt="Image" src="../static/assets/img/logo.png">
        </a>

    </div>

    <div class="uk-navbar-right">
        <a class="uk-button uk-button-link ev-button" href="#">
            <i class="fas fa-search"></i>
        </a>
    </div>
</nav>

<!-- END MOBILE HEADER -->

<!-- PAGE TITLE -->

<div class="ev-page-title-2">
    <div class="ev-container">

        <div class="uk-child-width-1-1 uk-child-width-1-2@s uk-flex uk-flex-middle uk-flex-center uk-grid-small"
             uk-grid>
            <div class="uk-flex uk-flex-center uk-flex-left@s"><h5 class="title">{{ _("New for Sale") }}</h5></div>
            <div>
                <ul class="uk-breadcrumb uk-flex-center uk-flex-right@s">
                    <li><a href="/index">{{ _("Home") }}</a></li>
                    <li class="uk-disabled"><a>{{ _("New for Sale") }}</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- END PAGE TITLE -->


<!-- PAGE CONTENT -->

<div class="ev-page-container">

    <div class="uk-width-expand@m">

        <h5 class="uk-heading-line"><span>{{ _("Basic Information") }}</span></h5>

        <form method="post" action="" enctype="multipart/form-data" novalidate
              class="uk-child-width-1-1 uk-child-width-1-3@s " uk-grid>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("District") }}</label>
                <div class="uk-form-controls">
                    {#                    <select class="uk-input uk-border-rounded">#}
                    {#                        <option>Haidian</option>#}
                    {#                        <option>Chaoyang</option>#}
                    {#                        <option>Fengtai</option>#}
                    {#                        <option>Mentougou</option>#}
                    {#                        <option>Shijingshan</option>#}
                    {#                        <option>Fangshan</option>#}
                    {#                        <option>Tongzhou</option>#}
                    {#                        <option>Shunyi</option>#}
                    {#                        <option>Changping</option>#}
                    {#                        <option>Daxing</option>#}
                    {#                        <option>Huairou</option>#}
                    {#                        <option>Pinggu</option>#}
                    {#                        <option>Yanqing</option>#}
                    {#                        <option>Miyun</option>#}
                    {#                        <option>Xicheng</option>#}
                    {#                        <option>Dongcheng</option>#}
                    {#                    </select>#}
                    {{ form.district(class="uk-input uk-border-rounded",id='estimate_district') }}

                    {% for error in form.district.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Address") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="text" value="奥林匹克花园三期">#}
                    {{ form.address(class="uk-input uk-border-rounded") }}

                    {% for error in form.address.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>


            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Size (sq.m.)") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value="100" min="1">#}
                    {{ form.size(class="uk-input uk-border-rounded", type="number", min="1", value="100",id='estimate_size') }}

                    {% for error in form.size.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Floor Range") }}</label>
                <div class="uk-form-controls">
                    {#                    <select class="uk-input uk-border-rounded">#}
                    {#                        <option>Ground</option>#}
                    {#                        <option>Low</option>#}
                    {#                        <option>Medium</option>#}
                    {#                        <option>High</option>#}
                    {#                        <option>Top</option>#}
                    {#                    </select>#}
                    {{ form.floor_range(class="uk-input uk-border-rounded",id='estimate_range') }}

                    {% for error in form.floor_range.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Total Floor Number") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value="10" min="1">#}
                    {{ form.floor_number(class="uk-input uk-border-rounded",id='estimate_floor', type="number" )}}

                    {% for error in form.floor_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Bedroom Number") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=3 min="1">#}
                    {{ form.bedroom_number(class="uk-input uk-border-rounded", type="number", min="1", max="10",id='estimate_bed') }}

                    {% for error in form.bedroom_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Living Room Number") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=1 min="1">#}
                    {{ form.livingroom_number(class="uk-input uk-border-rounded", type="number", min="0", max="5",id='estimate_living') }}

                    {% for error in form.livingroom_number.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Orientation") }}</label>
                <div class="uk-form-controls">
                    {#                    <select class="uk-input uk-border-rounded">#}
                    {#                        <option>North</option>#}
                    {#                        <option>South</option>#}
                    {#                        <option>East</option>#}
                    {#                        <option>West</option>#}
                    {#                    </select>#}
                    {{ form.orientation(class="uk-input uk-border-rounded") }}

                    {% for error in form.orientation.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Year") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=2010 min="1700">#}
                    {{ form.year(class="uk-input uk-border-rounded", type="number", value="2010", min="1900",id='estimate_year') }}

                    {% for error in form.year.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <p></p>
            <div class="uk-width-1-1">
                <h5 class="uk-heading-line"><span>{{ _("Details") }}</span></h5>
            </div>

            <p></p>
            <div class="uk-width-1-1">
                <label class="uk-form-label" for="form-stacked-text">{{ _("Description") }}</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=2010 min="1700">#}
                    {{ form.detail(class="uk-textarea uk-border-rounded uk-padding-small", rows="4", value="This is a nice house...") }}
                </div>
            </div>

            <div class="uk-width-1-1">
                <label class="uk-form-label" for="form-stacked-text">{{ _("Photo") }}</label>

            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Photo") }}1</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=2010 min="1700">#}
                    {{ form.photo1(class="uk-textarea uk-border-rounded uk-height-small uk-padding-small") }}

{#                    {{ dropzone.create(action="/new") }}#}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Photo") }}2</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=2010 min="1700">#}
                    {{ form.photo2(class="uk-textarea uk-border-rounded uk-height-small uk-padding-small") }}

{#                    {{ dropzone.create(action="/new") }}#}
                </div>
            </div>

            <div>
                <label class="uk-form-label" for="form-stacked-text">{{ _("Photon") }}3</label>
                <div class="uk-form-controls">
                    {#                    <input class="uk-input uk-border-rounded" type="number" value=2010 min="1700">#}
                    {{ form.photo3(class="uk-textarea uk-border-rounded uk-height-small uk-padding-small") }}

{#                    {{ dropzone.create(action="/new") }}#}
                </div>
            </div>

            <form class="uk-child-width-1-1 uk-child-width-1-2@s" uk-grid>
                {#                <div class="uk-width-1-1">#}
                {#                    <label class="uk-form-label" for="form-stacked-text">Description</label>#}
                {#                    <div class="uk-form-controls">#}
                {#                        <textarea class="uk-textarea uk-border-rounded uk-padding-small" rows="4">This is a nice house...</textarea>#}
                {#                    </div>#}
                {#                </div>#}

                {#                <div class="uk-width-1-1">#}
                {#                    <label class="uk-form-label" for="form-stacked-text">Photos</label>#}
                {#                    <div class="uk-form-controls">#}
                {#                        <input type="file" multiple class="uk-textarea uk-border-rounded uk-height-small uk-padding-small uk-width-1-2">#}
                {#                    </div>#}
                {#                </div>#}

                <p></p>
                <div class="uk-width-1-1">
                    <h5 class="uk-heading-line"><span>{{ _("Price Estimation") }}</span></h5>
                </div>


                <div class="uk-width-1-1">
                    <label class="uk-form-label" for="form-stacked-text">{{ _("According to the information, we suggest you
                        sell your house at the following price:") }}(*10000￥)</label>
                    <div class="uk-form-controls uk-width-1-2 uk-align-right"><br>
                        <input id='estimate_input' class="uk-input uk-border-rounded uk-text-right" disabled="disabled"
                               type="float"><br><br>
                        <input id='estimate_button' type="button"
                               class="uk-button uk-button-secondary uk-border-rounded uk-align-right"
                               value="Estimate"><br><br>

                    </div>
                </div>

                <div class="uk-width-1-1">
                    <label class="uk-form-label" for="form-stacked-text">{{ _("Your Final Price:") }}(*10000￥)</label>
                    <div class="uk-form-controls uk-width-1-2 uk-align-right"><br>
                        {#                    <input class="uk-input uk-border-rounded uk-text-right"><br><br>#}
                        {{ form.total_price(class="uk-input uk-border-rounded uk-text-right", type="number", value="500", min="0") }}
                        {#                    <button class="uk-button uk-border-rounded uk-align-right uk-button-primary"type="submit">Submit</button>#}
                        {{ form.csrf_token }}
                        {{ form.submit(class="uk-input uk-border-rounded uk-align-right uk-button-primary") }}
                    </div>
                </div>
            </form>
            <br>
        </form>
    </div>

</div>

<br>
<!-- END PAGE CONTENT -->


<!-- FOOTER -->

<div class="ev-footer">
    <div class="ev-container">
        <div class="ev-widgets uk-grid-large" uk-grid>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("About Us") }}</h4>
                <p class="ev-about">{{ _("Smart real estate startup company which open a new world of real estate in an online
                    way, strategy and technology coexist.") }}</p>
                <ul class="ev-follow uk-iconnav">
                    <li>
                        <a href="" uk-icon="icon: facebook"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: twitter"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: youtube"></a>
                    </li>
                    <li>
                        <a href="" uk-icon="icon: linkedin"></a>
                    </li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("Quick Links") }}</h4>
                <ul class="uk-list">
                    <li><a href="/login">{{ _("Login") }}</a></li>
                    <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                    <li><a href="/listing/1">{{ _("Listings") }}</a></li>
                    <li><a href="/new">{{ _("New for Sale") }}</a></li>
                    <li><a href="/profile">{{ _("User Profile") }}</a></li>
                </ul>
            </div>
            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">
                <h4 class="ev-title">{{ _("Contact Us") }}</h4>
                <ul class="uk-list">
                    <li><i class="ev-icon fas fa-envelope"></i> 1016771126@qq.com</li>
                    <li><i class="ev-icon fas fa-map-marker-alt"></i> Teaching Building 4, 604</li>
                    <li><i class="ev-icon fas fa-phone-alt"></i> +86 17743899416</li>
                </ul>
                <!--            </div>-->
                <!--            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-4@m">-->
                <!--                <h4 class="ev-title">Subscribe Now</h4>-->

                <!--                <form class="uk-light">-->
                <!--                    <input type="email" class="uk-input uk-width-1-1 uk-form-large uk-border-pill uk-margin-small-bottom" placeholder="Your Email">-->
                <!--                    <button class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-border-pill">Submit Now</button>-->
                <!--                </form>-->

                <!--            </div>-->
            </div>
        </div>


        <div class="ev-copyright">
            <div class="uk-container">
                <div uk-grid>
                    <div class="uk-width-1-1 uk-width-1-2@m uk-text-center uk-text-left@m">
                        Copyright &copy; 2020.Company name All rights reserved.
                    </div>
                    <div class="uk-width-1-1 uk-width-1-2@m uk-flex-center uk-flex-right@m uk-visible@s">
                        <ul class="uk-subnav uk-flex-center uk-flex-right@m">
                            <li><a href="/index">{{ _("Home") }}</a></li>
                            <li><a href="/listing/1">{{ _("Properties") }}</a></li>
                            <li><a href="/new">{{ _("New for Sale") }}</a></li>
                            <li><a href="/login">{{ _("Login") }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END FOOTER -->


<!-- SIDEMENU -->

<div class="ev-sidemenu" id="sidemenu" uk-offcanvas="overlay: true;">

    <div class="uk-offcanvas-bar uk-section-primary uk-flex uk-flex-column">

        <form class="uk-search uk-search-default uk-width-1-1">
            <span uk-search-icon></span>
            <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search...">
        </form>

        <hr>
        <a href="#" class="ev-signin uk-button uk-border-rounded">
            <i class="fas fa-user uk-margin-small-right"></i>
            {{ _("Sign In") }}
        </a>
        <hr>

        <p class="uk-nav-header">{{ _("Main Menu") }}</p>

        <ul class="ev-main-menu uk-nav-default uk-nav-parent-icon uk-margin-small-bottom" uk-nav>
            <li>
                <a href="/index">{{ _("Home") }}</a>
            </li>
            <li>
                <a href="/listing/1">{{ _("Listings") }}</a>
            </li>
{#            <li>#}
{#                <a href="/single">Single Property</a>#}
{#            </li>#}
            <li class="uk-parent">
                <a href="#">{{ _("Login") }}</a>
                <ul class="uk-nav-sub">
                    <li><a href="/login">{{ _("Login") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/signup">{{ _("Sign Up") }}</a></li>
                </ul>
            </li>
            </li>
            <li>
            <li class="uk-parent">
                <a href="#">{{ _("Pages") }}</a>
                <ul class="uk-nav-sub">
                    <li><a href="contact.html">{{ _("Contact") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/profile">{{ _("User Profile") }}</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="about.html">{{ _("About Us") }}</a></li>
                </ul>
            </li>
            </li>
        </ul>

        <p class="uk-nav-header">{{ _("Follow Us") }}</p>

        <ul class="ev-followus uk-iconnav uk-margin-small-bottom">
            <li>
                <a href="" uk-icon="icon: facebook"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: twitter"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: youtube"></a>
            </li>
            <li>
                <a href="" uk-icon="icon: linkedin"></a>
            </li>
        </ul>
    </div>

</div>

<!-- END SIDEMENU -->
<script src="../static/assets/js/nice-select.min.js"></script>
<script src="../static/assets/js/moment.min.js"></script>
<script src="../static/assets/js/daterangepicker.js"></script>
<script src="../static/assets/js/fontawesome.min.js"></script>
<script src="../static/assets/js/main.js"></script>
<script>
    $(function () {
        $("#test li").click(function () {
            $(this).siblings('li').removeClass('uk-active');
            $(this).addClass('uk-active');
        });
    });


    $("#estimate_button").click(function () {

        let n = document.getElementById("estimate_input");
        let district = document.getElementById("estimate_district");
        let bed = document.getElementById("estimate_bed");
        let living = document.getElementById("estimate_living");
        let year = document.getElementById("estimate_year");
        let floor = document.getElementById("estimate_floor");
        let range = document.getElementById("estimate_range");
        let size = document.getElementById("estimate_size");
        let d = district.value.toString();
        let b = bed.value.toString();
        let l = living.value.toString();
        let y = year.value.toString();
        let f = floor.value.toString();
        let s = size.value.toString();
        let dx;
        let r = range.value.toString();
        let rx;
        if (d == "东城") {
            dx = 0;
        } else if (d == "西城") {
            dx = 1;
        } else if (d == "海淀") {
            dx = 2;
        } else if (d == "朝阳") {
            dx = 3;
        } else if (d == "丰台") {
            dx = 4;
        } else if (d == "石景山") {
            dx = 5;
        } else if (d == "门头沟") {
            dx = 6;
        } else if (d == "昌平") {
            dx = 7;
        } else if (d == "房山") {
            dx = 8;
        } else if (d == "通州") {
            dx = 9;
        } else if (d == "大兴") {
            dx = 10;
        } else if (d == "顺义") {
            dx = 11;
        } else if (d == "亦庄") {
            dx = 12;
        } else if (d == "怀柔") {
            dx = 13;
        } else if (d == "密云") {
            dx = 14;
        } else {
            dx = 15;
        }

        dx = dx.toString()

        if (r == "地下室") {
            rx = 0;
        } else if (r == "底层") {
            rx = 1;
        } else if (r == "低楼层") {
            rx = 2;
        } else if (r == "中楼层") {
            rx = 3;
        } else if (r == "高楼层") {
            rx = 4;
        } else {
            rx = 5;
        }

        rx = rx.toString();

        $.ajax({
            type: 'POST',
            url: '/new',  //位置
            data: { // 提交数据
                "dx": dx, // 前者为字段名，后者为数据
                "y": y,
                "b": b,
                "l": l,
                "s": s,
                "rx": rx,
                "f": f
            },
            dataType: 'json',
            async: false,
            success: function (data) {
                console.log(data)
                let status = data['number'];
                $("#estimate_input").val(status);
            },
            error: function (error) {
                console.log(error)
            }
        });


    });

</script>
<script>
    $(document).on('click', '.locale', function () {
        var val = $(this).attr('data-value');
        $.ajax({
            url: val,
            type: 'GET',
            success: function (ret) {
                console.log(ret);
                location.reload();
            }
        })
    });
</script>
</body>
</html>