<!DOCTYPE html>
<html class="uk-height-1-1">
<head>
    <title>Login 1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
    <script src="../static/assets/js/jquery-3.5.1.min.js"></script>
    <script src="../static/assets/js/uikit.min.js"></script>
    <script src="../static/assets/js/uikit-icons.min.js"></script>
</head>
<body class="uk-height-1-1">

    <div class="uk-height-1-1 ev-section-padding-v-s uk-panel uk-flex uk-flex-wrap uk-flex-middle uk-flex-center">

        <div class="ev-auth-1">

            <a href="/index">
                <img class="ev-logo" src="../static/assets/img/logo.png">
            </a>

            <h5 class="uk-heading-line"><span>Sign In</span></h5>

            <form>
                <div class="uk-margin">
                    <div class="uk-width-1-1 uk-inline">
                        <input class="uk-input uk-border-pill" placeholder="Email" type="text">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-width-1-1 uk-inline">
                        <input class="uk-input uk-border-pill" placeholder="Password" type="text">
                    </div>
                </div>


                <div class="uk-margin uk-text-left padding-h uk-text-small">
                    <label><input class="uk-checkbox" type="checkbox"> Remember Me</label>
                </div>


                <button class="uk-button uk-width-1-1 uk-border-pill">Enter</button>

                <div class="uk-margin uk-width-1-1 uk-text-small ev-link-secondary">
                New to Group 20? <a class="ev-link-primary uk-text-bold" href="/signup">Sign Up</a>
                <a class="uk-margin ev-link-secondary uk-display-block" href="/forgot">Forgot Password?</a>
                </div>

            </form>


        </div>

    </div>

<script src="../static/assets/js/nice-select.min.js"></script>
<script src="../static/assets/js/moment.min.js"></script>
<script src="../static/assets/js/daterangepicker.js"></script>
<script src="../static/assets/js/fontawesome.min.js"></script>
<script src="../static/assets/js/main.js"></script>

</body>
</html>