{% block title %}
    分页显示学生信息
{% endblock %}
{% block content %}
    <h2>学生信息</h2>
    {% for stu in stus %}
        学生编号：{{ stu.id }}<br>
        学生姓名：{{ stu.district }}<br>
        学生年龄：{{ stu.address }}<br>
        <br>
    {% endfor %}
    当前页数：{{ paginate.page }}
    总页数：{{ paginate.pages }}
    一共有{{ paginate.total }}条数据
    <br>

    {% if paginate.has_prev %}
        <a href="/stu/test/?page={{ paginate.prev_num }}">上一页</a>
    {% endif %}

    页码：
    {% for i in paginate.iter_pages() %}
        <a href="/stu/test/?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if paginate.has_next %}
        <a href="/stu/test/?page={{ paginate.next_num }}">下一页</a>
    {% endif %}

{% endblock %}
