<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>

<table class="table table-bordered">
    <tr>
        <th>地区</th>
        <th>地址</th>
        <th>地区</th>
        <th>地址</th>
        <th>地区</th>
        <th>地址</th>
        <th>地区</th>
        <th>地址</th>
        <th>地区</th>
        <th>地址</th>

    </tr>
    {% for i in u %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>{{ i[3] }}</td>
            <td>{{ i[4] }}</td>
            <td>{{ i[5] }}</td>
            <td>{{ i[6] }}</td>
            <td>{{ i[7] }}</td>
            <td>{{ i[8] }}</td>
            <td>{{ i[9] }}</td>
            <td>{{ i[10] }}</td>
            <td>{{ i[11] }}</td>


        </tr>
    {% endfor %}
</table>

</body>
</html>